name: Hardware CI (Verilator)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Verilator
      run: |
        sudo apt-get update
        sudo apt-get install -y verilator

    - name: Build and Lint Hardware
      run: make lint 
